body{
  font-family: sans-serif;
}



.stars {
  display: flex;
}
 
.fa-star {
font-size: 40px;
}
 
.fa-star.active,
.fa-star.active-half {
  color: orange;
}
 
.active-half:before {
  content: '\f089';
  position: absolute;
  color: orange;
  display: inline-flex;
  width: 10px;
  overflow: hidden;
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
.header{
  height: 180px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
 
.logo{
  width: 100px;
  height: 100px;
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/1955153621959204110/8681D1AA0F3D060D180C2BA3E8FB7CE77AD460E4/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
  border-radius: 50%;
}
 
.menu_wrapper{
  display: flex;
  gap: 40px
}
 
.menu_wrapper > a {
  font-size: 30px;
}
 
.content{
  padding: 100px 50px;
  text-align: center;
  font-size: 25px;
}
 
.ProdImg{
  height: 300px;
}
 
.footer{
  height: 100px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.goBack{
  width: 100px;
  height: 80px;
}
 
.footer > p {
  font-size: 35px;
}
 
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
 
li.ProductPreview {
  width: 400px;
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
  padding: 10px;
}